{% extends "core/_split_pane.html" %}
{% block javascript_scripts %}
  <script type="text/javascript">
    $('#btn').click(function() {
      $('#charts').attr('src', '/' + $('#s').val() + '/' + $('#z').val());
    });
  </script>
  
  <script type="text/javascript" src="/static/js/mm_graphs.js"></script>
{% endblock javascript_scripts %}
{% block top_panel %}
  <h3>Michaelis-Menten Equations</h3>
{% endblock top_panel %}

{% block left_panel %}
  <div><h3>Enter Values:</h3></div>
  <div class="s_param">
    <label>Initial Substrate</label>
    <input type="text" name="initial_substrate"></input>
  </div>
  <div class="e_param">
    <label>Initial Enzyme</label>
    <input type="text" name="initial_enzyme"></input>
  </div>
  <input id="show" type="button" value="Show"></input>
{% endblock left_panel %}

{% block right_panel %}
  <div class="results"></div>
{% endblock right_panel %}

{% block bottom_panel %}
  
{% endblock bottom_panel %}
