<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.20.custom.css"/>

  <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
  {% block page_title %}<title>Lysozyme Kinematics</title>{% endblock page_title %}
  {% block javascript_scripts %}{% endblock javascript_scripts %}
  {% block css_links %}{% endblock css_links %}
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>
